<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false"
         bootstrap="./tests/Caxy/Tests/TestInit.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
  </coverage>
  <groups>
    <exclude>
      <group>performance</group>
    </exclude>
  </groups>
  <testsuites>
    <testsuite name="php-htmldiff Test Suite">
      <directory>./tests/Caxy/Tests/HtmlDiff</directory>
    </testsuite>
  </testsuites>
</phpunit>
