/* Difference Highlighting and Strike-through
------------------------------------------------ */
ins, ins li {
    color: #333333;
    background-color: #eaffea;
    text-decoration: none;
}
del, del li {
    color: #AA3333;
    background-color: #ffeaea;
    text-decoration: line-through;
}

/* Image Diffing
------------------------------------------------ */
del.diffimg.diffsrc {
    display: inline-block;
    position: relative;
}

del.diffimg.diffsrc:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to left top,
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 0) 49.5%,
        rgba(255, 0, 0, 1) 49.5%,
        rgba(255, 0, 0, 1) 50.5%
    ), repeating-linear-gradient(
        to left bottom,
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 0) 49.5%,
        rgba(255, 0, 0, 1) 49.5%,
        rgba(255, 0, 0, 1) 50.5%
    );
}

/* List Diffing
------------------------------------------------ */
/* List Styles */
ol.diff-list {
    list-style: none;
    counter-reset: section;
    display: table;
}

ol.diff-list > li.normal,
ol.diff-list > li.removed,
ol.diff-list > li.replacement {
    display: table-row;
}

ol.diff-list > li > div{
    display: inline;
}

ol.diff-list > li.replacement:before,
ol.diff-list > li.new:before {
    color: #333333;
    background-color: #eaffea;
    text-decoration: none;
}

ol.diff-list > li.removed:before{
    counter-increment: section;
    color: #AA3333;
    background-color: #ffeaea;
    text-decoration: line-through;
}

/* List Counters / Numbering */
ol.diff-list > li.normal:before,
ol.diff-list > li.removed:before,
ol.diff-list > li.replacement:before {
    width: 15px;
    overflow: hidden;
    content: counters(section,".") ". ";
    display: table-cell;
    text-indent: -1em;
    padding-left: 1em;
}

ol.diff-list > li.normal:before,
li.replacement + li.replacement:before,
ol.diff-list > li.replacement:first-child:before{
    counter-increment: section;
}
ol.diff-list li.removed + li.replacement:before,
ol.diff-list li.removed + li.replacement {
    counter-increment: none;
}
ol.diff-list li.removed + li.removed + li.replacement {
    counter-increment: section -1;
}
ol.diff-list li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -2;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -3;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -4;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -5;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -6;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -7;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -8;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -9;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement{
    counter-increment: section -10;
}
ol.diff-list li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.removed + li.replacement {
    counter-increment: section -11;
}

/* Exception Lists */
ul.exception,
ul.exception li:before {
    list-style: none;
    content: none;
}
ol.diff-list ul.exception ol {
    list-style: none;
    counter-reset: exception-section;
    /* Creates a new instance of the section counter with each ol element */
}
ol.diff-list ul.exception ol > li:before {
    counter-increment: exception-section;
    content:counters(exception-section, ".") ".";
}
